*{
  margin:0;
  padding:0;
}
body{
  background-color: #FFFFFF;
}

.login{
  border-radius:20px ;
  padding: 12px;
  background-color:#FFFFFF;
  color:#0A0A0A;
  margin-right: 25px;
}

.getstarted{
  border-radius:20px ;
  padding: 12px;
  background-color:#0A0A0A;
  color:#FFFFFF;
  margin-right: 25px;
}

.container{
  text-align: center;
  justify-content: center;
  height: 500px;
}
header{
  margin-bottom: 40px;
}
h1{
  margin-bottom: 15px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 900;
  font-family: sans-serif, Roboto,arial;
}
 
h3{
  margin-bottom: 15px;
}

h4{
  margin-bottom: 20px;
}

 p{
  font-size: 9px;
 }

input{
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 17px;
  margin-left: 30px;
}
.signbtn{
border-radius:20px ;
padding: 17px;
background-color: #0A0A0A;
color: #FFFFFF;
margin-right: 25px;
}


.box-grid{
  display: flex;
  justify-content: space-evenly;
}

.box{
  width:150px;
  height: 150px;
  border-radius: 20px;
  margin-bottom: 45px;
  padding:20px;
  line-height: 20px;
}


#box1{
  background-color: #5ECCA0;
}

#box2{
  background-color: #0A0A0A;
  color: #FFFFFF;
}

#box3{
  background-color: #CB9BFA;
}

#box4{
  background-color:#F8FD91 ;
}